body {
  background-color: #0f0f1b;
  color: white;
  margin: 0;
}
 
.header {
  box-shadow: 0 0 20px rgba(221, 183, 255, 0.2);
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
}
 
/* header */
 
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  width: 1280px;
  height: 70px;
  margin: 0 auto;
}
 
ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}


.playtime {
  width: 150px;
  cursor: pointer;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
 

.menu {
  color: #cfc2d6;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif;
  cursor: pointer;
}
 
.Lineup:hover {
  font-size: 13px;
  border-bottom: 2px solid #ddb7ff;
  color: #ddb7ff;
  padding-bottom: 4px;
}
 
.Schedule:hover {
  font-size: 13px;
  border-bottom: 2px solid #ddb7ff;
  color: #ddb7ff;
  padding-bottom: 4px;
}
 
.Tickets:hover {
  font-size: 13px;
  border-bottom: 2px solid #ddb7ff;
  color: #ddb7ff;
  padding-bottom: 4px;
}
 
.click {
  width: 120px;
  height: 32px;
  color: #490080;
  background-color: #ddb7ff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 9999px;
  border: 0;
  margin-top: 18.8px;
  margin-bottom: 18.8px;
  margin-right: 24px;
  padding-left: 24px;
  padding-bottom: 8px;
  padding-right: 24px;
  cursor: pointer;
  padding-top: 8px;
}
 
.click:hover {
  background-color: rgba(221, 183, 255, 0.9);
  font-size: 13px;
}
 
/* end of header */
 
/* hero */
 
.hero {
  width: 1200px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
  align-items: flex-start;
  background: #0f0f1b;
  display: flex;
  justify-content: space-between;
}
 
.hero-text {
  font-family: Anybody, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 90px;
  margin-top: 95px;
  margin-bottom: 8px;
  margin-right: 4px;
  background-image: linear-gradient(45deg, rgba(221, 183, 255, 1), rgba(173, 198, 255, 1));
  background-clip: text;
  color: transparent;
}
 
.hero-date {
  font-family: Inter, sans-serif;
  color: #adc6ff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  padding: 0;
}
 
.hero-dot {
  border-radius: 50%;
  background-color: #4d4354;
  height: 7px;
  width: 7px;
  margin-top: 3px;
}
 
.paragragh {
  width: 437px;
  height: 84px;
  font-family: Inter, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
}
 

.hero-action {
    background-color: #adc6ff;
    border: 0;
    border-radius: 9999px;
    height: 68px;
    width: 306px;
    padding: 16px 40px;
    color: rgba(0, 46, 106, 1);
    font-weight: 700;
    line-height: 36px;
    font-size: 28px;
    box-shadow: 0 0 20px rgba(173, 198, 255, 0.4);
    margin-top: 24px;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: center;
}
 
.hero-action:hover {
  font-size: 28px;
  background-color: #90aef4;
  width: 330px;
  height: 70px;
  padding-left: 42px;
  padding-bottom: 18px;
  padding-right: 57px;
  padding-top: 18px;
  margin-top: 26px;
}
 
.hero-image {
  box-shadow: 0px 0px 40px rgba(173, 198, 255, 0.2);
  width: 580px;
  height: 600px;
  border-radius: 48px;
  object-fit: cover;
}
 
.hero-tag {
  width: 120px;
  height: 34px;
  border: 1px solid rgba(255, 176, 205, 0.3);
  border-radius: 9999px;
  color: rgba(255, 176, 205, 1);
  background-color: rgba(18, 18, 30, 0.8);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  font-weight: 700;
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 24px;
  right: 24px;
}
 
/* end of hero */
 
/* paragraph */

.headerliners {
  width: 1280px;
  height: 684px;
  margin: 0 auto;
  margin-top: 150px;
  max-width: 1280px;
}
 
.headerliners-title {
  color: rgba(221, 183, 255, 1);
  font-weight: 800;
  font-size: 48px;
  font-family: Anybody, sans-serif;
  line-height: 56px;
  width: 100%;
  height: 56px;
  text-align: center;
}
 
.headerliners-subtitle {
  color: rgba(207, 194, 214, 1);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 4px;
}
 
.headerliners-items {
  width: 1200px;
  height: 384px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin: 40px 40px 0 40px;
}

.hliner {
  width: 382px;
  height: 382px;
  border-radius: 48px;
  overflow: hidden;
  position: relative;
}

.hliner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hliner-bg {
  position: absolute;
  inset: 0px;
  background-image: linear-gradient(to bottom, rgba(30,30,46,0), #1E1E2E);

}
.hliner-text {
  height: 150px;
  position: absolute;
  bottom: 24px;
  right: 0;
  left: 24px;
}

.hliner-name {
  font-weight: 700 bold;
  size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
  vertical-align: middle;
  font-family: anybody, sans-serif;
}

.hliner-label1 {
  display: inline-block;
  border: 1px solid white;
  font-family: inter;
  padding: 4px 8px;
  border-radius: 50px;
  background-color: rgba(183,109,255,0.2);
  border: 1px solid rgba(221,183,255,0.3);
  opacity: 40px;
}

.hliner-label2 {
  display: inline-block;
  border: 1px solid white;
  font-family: inter;
  padding: 4px 8px;
  border-radius: 50px;
  background-color: rgba(183,109,255,0.2);
  border: 1px solid rgba(221,183,255,0.3);
}

.hliner-label3 {
  display: inline-block;
  border: 1px solid white;
  font-family: inter;
  padding: 4px 8px;
  border-radius: 50px;
  background-color: rgba(183,109,255,0.2);
  border: 1px solid rgba(221,183,255,0.3);
}

.hliner-link {
  font-family: inter;
  font-weight: 600 semi bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  color: #ADC6FF;
  vertical-align: middle;
}
 
/* end of paragraph */
 
/* information */
 
.info {
  width: 1200px;
  height: 122px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}
 
.info-date {
  display: flex;
  padding: 24px 24px 24px 24px;
  width: 389px;
  height: 45px;
  background-color: rgba(31, 30, 43, 1);
  border: 1px solid rgba(77, 67, 84, 0.2);
  border-radius: 32px;
  gap: 16px;
}
 
.info-date1 {
  color: rgba(207, 194, 214, 1);
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
}
 
.info-date2 {
  color: rgba(227, 224, 242, 1);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
} */
 
/* end of information */
 
/* schedule */

.schedule {
  width: 1280px;
  height: 500px;
}
 
.schedule-title {
  width: 1200px;
  height: 73px;
  margin: 63px 40px 40px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(77, 67, 84, 0.2);
}
 
.schedule-title1 {
  margin: 0;
  padding: 0;
  font-family: Anybody, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: rgba(173, 198, 255, 1);
}
 
.schedule-title2 {
  display: flex;
  align-items: center;
  gap: 8px;
}
 
.schedule-21 {
  border: 1px solid rgba(77, 67, 84, 0.3);
  padding: 8px 16px 8px 16px;
  color: rgba(207, 194, 214, 1);
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 16px;
  border-radius: 9999px;
  background-color: transparent;
}
 
.schedule-21:hover {
  border: 1px solid rgba(221, 183, 255, 0.5);
  border-radius: 9999px;
  background-color: rgba(221, 183, 255, 0.2);
  font-size: 12px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  line-height: 16px;
  color: rgba(221, 183, 255, 1);
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}
 
.schedule-time {
  width: 1200px;
  height: 358px;
  margin: 8px 40px 40px 40px;
}
 
.schedule-time1 {
  width: 1200px;
  height: 114px;
  border-radius: 32px;
  background-color: rgba(31, 30, 43, 1);
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
 
.schedule-time2 {
  width: 383px;
  font-size: 28px;
  line-height: 36px;
  font-family: Anybody, sans-serif;
  font-weight: 700;
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
 
.schedule-time2-border {
  width: 1px;
  height: 40px;
  background-color: rgba(77, 67, 84, 0.3);
}
 
.schedule-time3 {
  width: 645px;
  height: 64px;
}
 
.schedule-time4 {
  width: 90px;
  height: 26px;
  border: 1px solid rgba(77, 67, 84, 0.5);
  background-color: rgba(56, 56, 70, 1);
  border-radius: 16px;
  padding: 4px 8px 4px 8px;
  margin-top: 43.5px;
  margin-bottom: 42.5px;
  margin-right: 24px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  color: rgba(227, 224, 242, 1);
}
 
.schedule-time31 {
  font-family: Anybody;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: rgba(227, 224, 242, 1);
  margin: 0;
}
 
.schedule-time32 {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(207, 194, 214, 1);
  margin: 0;
}
 
/* end of schedule */
 
.lasty {
  margin: 80px auto;
  width: 1200px;
  height: 553px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.lasty-sponsor {
  width: 580px;
  height: 457px;
}
 
.both {
  width: 580px;
  height: 73px;
  border-bottom: 1px solid rgba(77, 67, 84, 0.2);
}
 
.sponsor1 {
  width: 580px;
  height: 56px;
  font-family: Anybody;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: rgba(221, 183, 255, 1);
}
.box {
  width: 580px;
  height: 318px;
  border: 1px solid rgba(77, 67, 84, 0.2);
  background-color: rgba(31, 30, 43, 0.5);
  border-radius: 48px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.box1 {
  width: 498px;
  height: 236px;
  display: flex;
  justify-content: space-between;
}
.boxes15 {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
 
.box2 {
  width: 237px;
  height: 103px;
  border: 1px solid rgba(77, 67, 84, 0.2);
  border-radius: 32px;
  background-color: rgba(31, 30, 43, 1);
  text-align: center;
}
 
.box25 {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-align: center;
  color: rgba(227, 224, 242, 1);
}
 
.lasty-partner {
  width: 580px;
  height: 457px;
}
 
.partner1 {
  width: 580px;
  height: 56px;
  font-family: Anybody;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: rgba(173, 198, 255, 1);
}
 
.boxes {
  width: 580px;
  height: 344px;
  border: 1px solid rgba(77, 67, 84, 0.2);
  background-color: rgba(31, 30, 43, 0.5);
  border-radius: 48px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.boxes1 {
  width: 498px;
  height: 262px;
}
 
.boxes15 {
  width: 472px;
  height: 76px;
  border: 1px solid rgba(77, 67, 84, 0.2);
  border-radius: 32px;
  background-color: rgba(31, 30, 43, 1);
  padding-left: 24px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  color: rgba(227, 224, 242, 1);
}
 
/* end of lasty */
 
/* footer */
 
.footer {
  width: 1280px;
  height: 166px;
  background-color: rgba(13, 13, 25, 1);
  margin: 0 auto;
  display: flex;
  align-items: end;
}
.footer1 {
  width: 1280px;
  height: 62px;
  margin-top: 64px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(77, 67, 84, 0.2);
}
 
.footer2 {
  margin: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(207, 194, 214, 1);
  margin-top: 31px;
}
 
.footer3 {
  display: flex;
  gap: 16px;
  font-family: Inter;
  font-size: 12px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  color: rgba(207, 194, 214, 1);
  margin-top: 34px;
  margin-right: 24px;
}
 
.footer5 {
  width: 150px;
  height: 37px;
  margin-left: 24px;
  margin-top: 24px;
}
 
/* end of footer */